/*FondoLogueo*/
#video-container
{
}

.login
{
	position: sticky;
    z-index: 999999999;
}
.class_video_fondo
{
    height: 1080px;
    position: fixed;
    right: 0;
    top: -50px;
    width: 1920px;
    min-height: 100% !important;
}

/*logos comentarios*/
.logos_miniatura {
    width: 32px;
}
.separador_partido{
	position: relative;
	top:0;
	left: 50%;
	margin-left: -15px;
}
.gol_local {
    position: relative;
    left: -45px;
    top: 12px;
    font-size: 14px;
    font-weight: bolder;
}
.gol_visitante {
    position: relative;
    left: -5px;
    top: 12px;
    font-size: 14px;
    font-weight: bolder;
}
.juego_balon {
    height: 100% !important;
    margin: 0 auto 0 -19px !important;
    min-height: 100%;
    padding-bottom: 8px;
    padding-top: 5px;
}
.nombre_equipo{

}


/*header*/
.header_bg{
	background-color: #bf1010;
}
.header-logo
{
	background-color: #fff;
}
.nombre_app
{
	color:#bf1010;
}
.logo_a
{
	width: 100%;
}
.logo_img{

    margin-top: 5px !important;
    max-height: 40px !important;
    vertical-align: middle !important;
    float: left !important;
    text-align: center;

}
#aside-user
{
	background-color: #bf1010;
	background-image: url('../img/logo_bg_hinchada.png');
	background-repeat: no-repeat;
	background-position: center center;
	color:#fff;
}

#aside-user a .text-lt
{
	color:#fff !important;
}
#aside-user a .text-muted
{
	color:#fff !important;
}

#aside-user a .caret {
    border-bottom-color: #fff !important;
    border-top-color: #fff !important;
}
/*Footer app*/
.app-footer{
	position: fixed;
	background-color: #000 !important;
	color:#fff;
}
.foot-logo
{
	margin-top: -10px;
	margin-bottom: -10px;
}
.copy {
    font-size: 16px;
    margin-top: -1px;
    position: relative;
    top: 8px;
}
/* Lineas Comentarios partidos*/

.tl-content.panel.padder.b-a.w-md.w-auto-xs
{
	padding-top: 0px;
}
.title_msn
{
    display: block;
    margin: 0 -15px;
}
.title_msn span
{
	color:#fff;
    margin: 0 0 0 15px;
    display:table;
    padding: 10px;
    font-weight: bolder;
}

.b-falta {
    border-color: #ff7200;
}
.b-falta .title_msn
{
	background: #ff7200
}
.b-falta .arrow.left:after
{
	border-right-color:  #ff7200;
}
.b-falta .arrow.right:after
{
	border-left-color:  #ff7200;
}
.b-fuera {
    border-color: #792870;
}
.b-fuera .arrow.left:after
{
	border-right-color:  #792870;
}
.b-fuera .arrow.right:after
{
	border-left-color:  #792870;
}
.b-fuera .title_msn
{
	background: #792870;
}
.b-tiro {
    border-color: #009968;
}
.b-tiro .arrow.left:after
{
	border-right-color:  #009968;
}
.b-tiro .arrow.right:after
{
	border-left-color:  #009968;
}
.b-tiro .title_msn
{
	background: #009968;
}
.b-gol {
    border-color: #2f6206;
}
.b-gol .arrow.left:after
{
	border-right-color:  #2f6206;
}
.b-gol .arrow.right:after
{
	border-left-color:  #2f6206;
}
.b-gol .title_msn
{
	background: #2f6206;
}
.b-medio {
    border-color: #144168;
}
.b-medio .arrow.left:after
{
	border-right-color:  #144168;
}
.b-medio .arrow.right:after
{
	border-left-color:  #144168;
}
.b-medio .title_msn
{
	background: #144168;
}
.b-extra {
    border-color: #8b7026;
}
.b-extra .arrow.left:after
{
	border-right-color:  #8b7026;
}
.b-extra .arrow.right:after
{
	border-left-color:  #8b7026;
}
.b-extra .title_msn
{
	background: #8b7026;
}
.b-final {
    border-color: #734343;
}
.b-final .arrow.left:after
{
	border-right-color:  #734343;
}
.b-final .arrow.right:after
{
	border-left-color:  #734343;
}
.b-final .title_msn
{
	background: #734343;
}
.b-amarilla {
    border-color: #f0cb00;
}
.b-amarilla .arrow.left:after
{
	border-right-color:  #f0cb00;
}
.b-amarilla .arrow.right:after
{
	border-left-color:  #f0cb00;
}
.b-amarilla .title_msn
{
	background: #f0cb00;
}
.b-roja {
    border-color: #b20000;
}
.b-roja .arrow.left:after
{
	border-right-color:  #b20000;
}
.b-roja .arrow.right:after
{
	border-left-color:  #b20000;
}
.b-roja .title_msn
{
	background: #b20000;
}

/*Menu aplicación web*/
.menu_fijo
{
	position: fixed;
}
.menu_lateral
{

}
/*minuto listado equipos*/
.nombre_equipos_minuto {
    left: -15px;
    padding-right: 79px;
    position: relative;
}
.nombre_equipos_minuto:last-child
{

    padding-right: 0px;

}

